# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Node / Build artifacts
node_modules/
dist/
.vercel/
.vercel
.env*
.agents/
skills-lock.json
